//
// Настроки темы сайта
// --------------------------------------------------

@import 'boot.less';

@import 'fonts/Cuprum.less';

// Панельки контента

.bg-white,
.bg-texture {
	background-color: @content-bg;
	color: @content-color;
}

.bg-texture {
	background-image: url(images/noisy.jpg);
}

// Фавиконки

.fa {
	color: @gray-light;
}

a .fa {
	color: inherit;
}

// Хрень в редакторе

img[data-verified] {
	max-width: 100%;
}

main > h1 {
	margin-top: 0;
}

// Якоря

a.anchor {
	text-decoration: none;
	color: inherit;
	&:before {
		content: '¶';
		color: @brand-danger;
		margin-right: 0.5em;
	}
}

@import 'bootstrap.less';