{% put aside %}
<p><a href="/storage/app/media/1.jpg" data-title="История компании" data-footer="" data-toggle="lightbox" data-gallery="about"><img src="/storage/app/media/cropped-images/1-0-0-0-0-1462429392.jpg" alt="" class="media-object media-full img-thumbnail"></a></p>
<p><a href="/storage/app/media/2.jpg" data-title="История компании" data-footer="" data-toggle="lightbox" data-gallery="about"><img src="/storage/app/media/cropped-images/2-0-0-0-0-1462429501.jpg" alt="" class="media-object media-full img-thumbnail"></a></p>
<p><a href="/storage/app/media/3.jpg" data-title="История компании" data-footer="" data-toggle="lightbox" data-gallery="about"><img src="/storage/app/media/cropped-images/3-0-0-0-0-1462429514.jpg" alt="" class="media-object media-full img-thumbnail"></a></p>
<p><a href="/storage/app/media/4.jpg" data-title="История компании" data-footer="" data-toggle="lightbox" data-gallery="about"><img src="/storage/app/media/cropped-images/4-0-97-300-219-1462430684.jpg" alt="" class="media-object media-full img-thumbnail"></a></p>
{% endput %}