{% put aside %}
	<nav id="sub-pages" class="navbar">
		{% partial 'menu-items' items=storeMenu.menuItems class='nav nav-pills nav-stacked' %}
	</nav>
{% endput %}
{% put breadcrumb %}
	<nav>
		<ul class="breadcrumb">
			<li><a href="{{ '/'|app }}">Главная</a></li>
			<li><a href="{{ '/cabinet'|app }}">Личный кабинет</a></li>
			<li class="active">Корзина заказа</li>
		</ul>
	</nav>
{% endput %}
<h1>Корзина заказа</h1>
{% component 'storeCart' %}