{% put aside %}
<p><a href="/storage/app/media/gostr.jpg" data-title="Сертификат соответствия ГОСТ Р" data-footer="" data-toggle="lightbox" data-gallery="about"><img src="/storage/app/media/cropped-images/gostr-0-0-0-0-1465191912.jpg" alt="" class="media-object media-full img-thumbnail"></a></p>
{% endput %}