<p class="form-group">
	<label class="control-label" for="feedback-name">Представитесь пожалуйста:</label>
	<span class="input-group">
		<input name="name" id="feedback-name" type="text" class="form-control" placeholder="ФИО" required>
		<span class="input-group-addon"><i class="fa fa-user"></i></span>
	</span>
</p>
<p class="form-group">
	<label class="control-label" for="feedback-company">Какую ккомпанию вы представляете:</label>
	<span class="input-group">
		<input name="company" id="feedback-company" type="text" class="form-control" placeholder="Наименование компании" required>
		<span class="input-group-addon"><i class="fa fa-users"></i></span>
	</span>
</p>
<p class="form-group">
	<label class="control-label" for="feedback-contact">Как с вами связаться:</label>
	<span class="input-group">
		<span class="input-group-addon"><input type="radio" name="first" value="tel" checked></span>
		<input id="feedback-contact" type="tel" name="tel" class="form-control" placeholder="Телефон" required>
		<span class="input-group-addon"><i class="fa fa-phone"></i></span>
	</span>
	<span class="input-group">
		<span class="input-group-addon"><input type="radio" name="first" value="email"></span>
		<input type="email" class="form-control" placeholder="Эл. почта" required>
		<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	</span>
</p>
<p class="form-group">
	<label class="control-label" for="feedback-name">Ваш вопрос:</label>
	<textarea class="form-control" rows="6" required></textarea>
</p>